{% extends "layout.njk" %}

{% block content %}
  <div class="container table-container">
    <a href="/instructors/create" class="button">Novo</a>
    <table width="100%">
      <thead>
        <tr>
          <th>Instrutor</th>
          <th>Atendimento</th>
          <th>Alunos</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        {% for instructor in instructors %}
          <tr>
            <td>
              <span style="background: url({{instructor.avatar_url}}) no-repeat center / cover"></span>
              <p>{{instructor.name}}</p>
            </td>
            <td>
              {% for attendance in instructor.services.split(",") %}
                <span class="table-services">
                  {{attendance}}
                </span>
              {% endfor %}
            </td>
             <td>
              <span class="table-services">{{instructor.total_students}}</span>
            </td>
            <td>
              <a class="button" href="/instructors/{{instructor.id}}">Ver</a>
            </td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
{% endblock content %}