{% extends "layout.njk" %}

{% block content %}
  <div class="container">
    <section style="background: url({{instructor.avatar_url}}) no-repeat center / cover" class="avatar"></section>
    <section class="detail">
      <div class="content">
        <h3>Detalhes</h3>

        <div class="item">
          <div>Instrutor</div>
          <div>
            {{instructor.name}}
          </div>
        </div>

        <div class="item">
          <div>Idade</div>
          <div>{{instructor.age}}</div>
        </div>

        <div class="item">
          <div>Sexo</div>
          <div>{{ "Masculino" if instructor.gender == "M" else "Feminino"}}</div>
        </div>

        <div class="item">
          <div>Acompanhamento</div>
          <div>
            {% for service in instructor.services %}
              <span>{{service}}</span>
            {% endfor %}
          </div>
        </div>

        <div class="item">
          <div>Desde</div>
          <div>{{instructor.created_at}}</div>
        </div>

        <div class="buttons">
          <a class="button" href="/instructors/{{instructor.id}}/edit">Editar</a>
          <form method="POST" action="/instructors?_method=DELETE">
            <input type="hidden" name="id" value="{{instructor.id}}">
            <button type="submit">Deletar</button>
          </form>
        </div>

      </div>

    </section>
    <script>
      const formDelete = document.querySelector("#form-delete");
      formDelete.addEventListener("submit", (event) => {
        const confirmation = confirm("Tem certeza que você quer deletar esse instrutor?");
        if (!confirmation) {
          event.preventDefault();
        }
      });
    </script>
  </div>

{% endblock content %}