{% extends "layout.njk" %}

{% block content %}
  <div class="container">
    <section style="background: url({{member.avatar_url}}) no-repeat center / cover" class="avatar"></section>
    <section class="detail">
      <div class="content">
        <h3>Detalhes</h3>

        <div class="item">
          <div>Membro</div>
          <div>
            {{member.name}}
          </div>
        </div>

        <div class="item">
          <div>E-mail</div>
          <div>
            {{member.email}}
          </div>
        </div>

        <div class="item">
          <div>Data de Nascimento</div>
          <div>{{member.birth}}</div>
        </div>

        <div class="item">
          <div>Sexo</div>
          <div>{{ "Masculino" if member.gender == "M" else "Feminino"}}</div>
        </div>

        <div class="item">
          <div>Tipo Sanguíneo</div>
          <div>
            {{member.blood}}
          </div>
        </div>

        <div class="item">
          <div>Peso (kg)</div>
          <div>
            {{member.weight}}
          </div>
        </div>

        <div class="item">
          <div>Altura (cm)</div>
          <div>
            {{member.height}}
          </div>
        </div>

        <div class="buttons">
          <a class="button" href="/members/{{member.id}}/edit">Editar</a>
          <form id="form-delete" method="POST" action="/members?_method=DELETE">
            <input type="hidden" name="id" value="{{member.id}}">
            <button type="submit">Deletar</button>
          </form>
        </div>

      </div>

    </section>

    <script>
      const formDelete = document.querySelector("#form-delete");
      formDelete.addEventListener("submit", (event) => {
        const confirmation = confirm("Tem certeza que você quer deletar esse membro?");
        if (!confirmation) {
          event.preventDefault();
        }
      });
    </script>
  </div>
{% endblock content %}